<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>SISTEMA DE PLANES DE MERCADEO</display-name>
    <context-param>
        <description>localhost</description>
        <param-name>_IP</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>_PUERTO</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>_DB</param-name>
        <param-value>PlanMercadeo</param-value>
    </context-param>
    <context-param>
        <param-name>_USUARIO</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>_CLAVE</param-name>
        <param-value>sql</param-value>
    </context-param>
    <context-param>
        <param-name>GENE_IP</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>GENE_PUERTO</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>GENE_DB</param-name>
        <param-value>bdgeneral</param-value>
    </context-param>
    <context-param>
        <param-name>GENE_USUARIO</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>GENE_CLAVE</param-name>
        <param-value>sql</param-value>
    </context-param>
    <context-param>
        <param-name>EASY_IP</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>EASY_PUERTO</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>EASY_DB</param-name>
        <param-value>EasyGestion</param-value>
    </context-param>
    <context-param>
        <param-name>EASY_USUARIO</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>EASY_CLAVE</param-name>
        <param-value>sql</param-value>
    </context-param>
    <context-param>
        <param-name>EASYC_IP</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>EASYC_PUERTO</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>EASYC_DB</param-name>
        <param-value>EasyContabilidad</param-value>
    </context-param>
    <context-param>
        <param-name>EASYC_USUARIO</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>EASYC_CLAVE</param-name>
        <param-value>sql</param-value>
    </context-param>
    <context-param>
        <param-name>ESTD_IP</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>ESTD_PUERTO</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>ESTD_DB</param-name>
        <param-value>FARMAESTADISTICA_VENTAS_TMP</param-value>
    </context-param>
    <context-param>
        <param-name>ESTD_USUARIO</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>ESTD_CLAVE</param-name>
        <param-value>sql</param-value>
    </context-param>
    <context-param>
        <param-name>PAGO_IP</param-name>
        <param-value>127.0.0.1</param-value>
    </context-param>
    <context-param>
        <param-name>PAGO_PUERTO</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>PAGO_DB</param-name>
        <param-value>PlanMercadeo</param-value>
    </context-param>
    <context-param>
        <param-name>PAGO_USUARIO</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>PAGO_CLAVE</param-name>
        <param-value>sql</param-value>
    </context-param>
    <context-param>
        <param-name>_PAGINACION</param-name>
        <param-value>50</param-value>
    </context-param>
    <context-param>
        <description>C:\glassfish3\glassfish\domains\domain2\applications\anexos\planesmercadeo\
D:/WARES/</description>
        <param-name>_DIR</param-name>
        <param-value>C:\glassfish3\glassfish\domains\domain2\applications\anexos\planesmercadeo\</param-value>
    </context-param>
    <context-param>
        <param-name>_URL_ANEXO</param-name>
        <param-value>http://192.168.238.10:8082/anexos/planesmercadeo</param-value>
    </context-param>
    <context-param>
        <param-name>_SVR_MAIL</param-name>
        <param-value>mail.farmaenlace.com</param-value>
    </context-param>
    <context-param>
        <description>localhost</description>
        <param-name>SEGU_IP</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>SEGU_PUERTO</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>SEGU_DB</param-name>
        <param-value>EasySeguridad</param-value>
    </context-param>
    <context-param>
        <param-name>SEGU_USUARIO</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>SEGU_CLAVE</param-name>
        <param-value>sql</param-value>
    </context-param>
    <context-param>
        <param-name>DEPR_DB</param-name>
        <param-value>db_ctrlProveedores</param-value>
    </context-param>
    <context-param>
        <param-name>DEPR_PUERTO</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>DEPR_IP</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>DEPR_USUARIO</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>DEPR_CLAVE</param-name>
        <param-value>sql</param-value>
    </context-param>
    <context-param>
        <param-name>AUS_IP</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>AUS_PUERTO</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>AUS_DB</param-name>
        <param-value>auspicios</param-value>
    </context-param>
    <context-param>
        <param-name>AUS_USUARIO</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>AUS_CLAVE</param-name>
        <param-value>sql</param-value>
    </context-param>
    <filter>
        <filter-name>verificaSesion</filter-name>
        <filter-class>com.far.mer.seg.fil.verificaSesion</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>verificaSesion</filter-name>
        <servlet-name>Creditos</servlet-name>
        <servlet-name>cambiarClave</servlet-name>
        <servlet-name>cambiarClaveGuardar</servlet-name>
        <servlet-name>getTabla</servlet-name>
        <servlet-name>frmTipoPlan</servlet-name>
        <servlet-name>getCuentas</servlet-name>
        <servlet-name>frmTipoPlanGuardar</servlet-name>
        <servlet-name>getEmpleados</servlet-name>
        <servlet-name>frmLaboratorioEstrategicoGuardar</servlet-name>
        <servlet-name>frmTipoPlanAsignacion</servlet-name>
        <servlet-name>frmTipoPlanAsignacionGuardar</servlet-name>
        <servlet-name>getPlanesMercadeo</servlet-name>
        <servlet-name>getActividades</servlet-name>
        <servlet-name>frmPlanMercadeo</servlet-name>
        <servlet-name>getUsuarios</servlet-name>
        <servlet-name>frmPlanMercadeoGuardar</servlet-name>
        <servlet-name>getProveedores</servlet-name>
        <servlet-name>getFarmacia</servlet-name>
        <servlet-name>getCmbCiudades</servlet-name>
        <servlet-name>getTblFarmacias</servlet-name>
        <servlet-name>getTblProductos</servlet-name>
        <servlet-name>getSumaLaboratorios</servlet-name>
        <servlet-name>getTipoPlanes</servlet-name>
        <servlet-name>filFarmacias</servlet-name>
        <servlet-name>filProductos</servlet-name>
        <servlet-name>getCmbLineas</servlet-name>
        <servlet-name>getUsrConfAusp</servlet-name>
        <servlet-name>getVendedores</servlet-name>
        <servlet-name>getClientes</servlet-name>
        <servlet-name>ProcesaTransferirAdjunto</servlet-name>
        <servlet-name>getLaboratoriosAuspicio</servlet-name>
        <servlet-name>frmEstrategia</servlet-name>
        <servlet-name>frmEstrategiaGuardar</servlet-name>
        <servlet-name>frmActividad</servlet-name>
        <servlet-name>ProcesaTransferirFormularioAdjunto</servlet-name>
        <servlet-name>frmActividadGuardar</servlet-name>
        <servlet-name>frmLaboratorioEstrategico</servlet-name>
        <servlet-name>frmActividadEliminar</servlet-name>
        <servlet-name>frmEstrategiaEliminar</servlet-name>
        <servlet-name>getEstrategias</servlet-name>
        <servlet-name>verActividad</servlet-name>
        <servlet-name>verPlanMercadeo</servlet-name>
        <servlet-name>verEstrategia</servlet-name>
        <servlet-name>frmPlanMercadeoAprobar</servlet-name>
        <servlet-name>getPlanesMercadeoEditar</servlet-name>
        <servlet-name>getActividadesEditar</servlet-name>
        <servlet-name>frmPlanCuentas</servlet-name>
        <servlet-name>frmNivel</servlet-name>
        <servlet-name>frmConfiguracion</servlet-name>
        <servlet-name>frmConfiguracionGuardar</servlet-name>
        <servlet-name>frmLaboratorioPresupuesto</servlet-name>
        <servlet-name>frmLaboratorioPresupuestoGuardar</servlet-name>
        <servlet-name>getVentas</servlet-name>
        <servlet-name>frmActividadAprobar</servlet-name>
        <servlet-name>frmPlanMercadeoEnviarAAut</servlet-name>
        <servlet-name>frmLaboratorioEstrategicoReasignacionGuardar</servlet-name>
        <servlet-name>frmConcepto</servlet-name>
        <servlet-name>frmConceptoGuardar</servlet-name>
        <servlet-name>frmFiltro</servlet-name>
        <servlet-name>frmPlanMercadeoCerrar</servlet-name>
        <servlet-name>frmPlanMercdeoConfAuspicio</servlet-name>
        <servlet-name>frmPlanMercdeoConfAuspicioGuardar</servlet-name>
        <servlet-name>tblLiquidacion</servlet-name>
        <servlet-name>tblLiquidacionCompras</servlet-name>
        <servlet-name>tblLiquidacionComprasFacturas</servlet-name>
        <servlet-name>tblLiquidacionComprasFacturasGuardar</servlet-name>
        <servlet-name>confirmarGasto</servlet-name>
        <servlet-name>setIdPlanCuenta</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Autenticar</servlet-name>
        <servlet-class>com.far.mer.seg.Autenticar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>com.far.mer.seg.Salir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index1</servlet-name>
        <servlet-class>com.far.mer.seg.Index1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Creditos</servlet-name>
        <servlet-class>com.far.lib.Creditos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambiarClave</servlet-name>
        <servlet-class>com.far.mer.seg.cambiarClave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambiarClaveGuardar</servlet-name>
        <servlet-class>com.far.mer.seg.cambiarClaveGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTabla</servlet-name>
        <servlet-class>com.far.lib.getTabla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmTipoPlan</servlet-name>
        <servlet-class>com.far.mer.pla.frmTipoPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCuentas</servlet-name>
        <servlet-class>com.far.mer.pla.getCuentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmTipoPlanGuardar</servlet-name>
        <servlet-class>com.far.mer.pla.frmTipoPlanGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEmpleados</servlet-name>
        <servlet-class>com.far.mer.pla.getEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmLaboratorioEstrategicoGuardar</servlet-name>
        <servlet-class>com.far.mer.pla.frmLaboratorioEstrategicoGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmTipoPlanAsignacion</servlet-name>
        <servlet-class>com.far.mer.pla.frmTipoPlanAsignacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmTipoPlanAsignacionGuardar</servlet-name>
        <servlet-class>com.far.mer.pla.frmTipoPlanAsignacionGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPlanesMercadeo</servlet-name>
        <servlet-class>com.far.mer.pla.getPlanesMercadeo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getActividades</servlet-name>
        <servlet-class>com.far.mer.pla.getActividades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmPlanMercadeo</servlet-name>
        <servlet-class>com.far.mer.pla.frmPlanMercadeo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUsuarios</servlet-name>
        <servlet-class>com.far.mer.pla.getUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmPlanMercadeoGuardar</servlet-name>
        <servlet-class>com.far.mer.pla.frmPlanMercadeoGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProveedores</servlet-name>
        <servlet-class>com.far.mer.pla.getProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getFarmacia</servlet-name>
        <servlet-class>com.far.mer.pla.getFarmacia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCmbCiudades</servlet-name>
        <servlet-class>com.far.mer.pla.getCmbCiudades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTblFarmacias</servlet-name>
        <servlet-class>com.far.mer.pla.getTblFarmacias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTblProductos</servlet-name>
        <servlet-class>com.far.mer.pla.getTblProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSumaLaboratorios</servlet-name>
        <servlet-class>com.far.mer.pla.getSumaLaboratorios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTipoPlanes</servlet-name>
        <servlet-class>com.far.mer.pla.getTipoPlanes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filFarmacias</servlet-name>
        <servlet-class>com.far.mer.pla.filFarmacias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filProductos</servlet-name>
        <servlet-class>com.far.mer.pla.filProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCmbLineas</servlet-name>
        <servlet-class>com.far.mer.pla.getCmbLineas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUsrConfAusp</servlet-name>
        <servlet-class>com.far.mer.pla.getUsrConfAusp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getVendedores</servlet-name>
        <servlet-class>com.far.mer.pla.getVendedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getClientes</servlet-name>
        <servlet-class>com.far.mer.pla.getClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesaTransferirAdjunto</servlet-name>
        <servlet-class>com.far.mer.pla.ProcesaTransferirAdjunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLaboratoriosAuspicio</servlet-name>
        <servlet-class>com.far.mer.pla.getLaboratoriosAuspicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmEstrategia</servlet-name>
        <servlet-class>com.far.mer.pla.frmEstrategia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmEstrategiaGuardar</servlet-name>
        <servlet-class>com.far.mer.pla.frmEstrategiaGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmActividad</servlet-name>
        <servlet-class>com.far.mer.pla.frmActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesaTransferirFormularioAdjunto</servlet-name>
        <servlet-class>com.far.mer.pla.ProcesaTransferirFormularioAdjunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmActividadGuardar</servlet-name>
        <servlet-class>com.far.mer.pla.frmActividadGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmLaboratorioEstrategico</servlet-name>
        <servlet-class>com.far.mer.pla.frmLaboratorioEstrategico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmActividadEliminar</servlet-name>
        <servlet-class>com.far.mer.pla.frmActividadEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmEstrategiaEliminar</servlet-name>
        <servlet-class>com.far.mer.pla.frmEstrategiaEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEstrategias</servlet-name>
        <servlet-class>com.far.mer.pla.getEstrategias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verActividad</servlet-name>
        <servlet-class>com.far.mer.pla.verActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verPlanMercadeo</servlet-name>
        <servlet-class>com.far.mer.pla.verPlanMercadeo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verEstrategia</servlet-name>
        <servlet-class>com.far.mer.pla.verEstrategia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmPlanMercadeoAprobar</servlet-name>
        <servlet-class>com.far.mer.pla.frmPlanMercadeoAprobar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPlanesMercadeoEditar</servlet-name>
        <servlet-class>com.far.mer.pla.getPlanesMercadeoEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getActividadesEditar</servlet-name>
        <servlet-class>com.far.mer.pla.getActividadesEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmPlanCuentas</servlet-name>
        <servlet-class>com.far.mer.pla.frmPlanCuentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmNivel</servlet-name>
        <servlet-class>com.far.mer.pla.frmNivel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmConfiguracion</servlet-name>
        <servlet-class>com.far.mer.pla.frmConfiguracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmConfiguracionGuardar</servlet-name>
        <servlet-class>com.far.mer.pla.frmConfiguracionGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmLaboratorioPresupuesto</servlet-name>
        <servlet-class>com.far.mer.pla.frmLaboratorioPresupuesto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmLaboratorioPresupuestoGuardar</servlet-name>
        <servlet-class>com.far.mer.pla.frmLaboratorioPresupuestoGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getVentas</servlet-name>
        <servlet-class>com.far.mer.pla.getVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmActividadAprobar</servlet-name>
        <servlet-class>com.far.mer.pla.frmActividadAprobar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmPlanMercadeoEnviarAAut</servlet-name>
        <servlet-class>com.far.mer.pla.frmPlanMercadeoEnviarAAut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmLaboratorioEstrategicoReasignacionGuardar</servlet-name>
        <servlet-class>com.far.mer.pla.frmLaboratorioEstrategicoReasignacionGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmConcepto</servlet-name>
        <servlet-class>com.far.mer.pla.frmConcepto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmConceptoGuardar</servlet-name>
        <servlet-class>com.far.mer.pla.frmConceptoGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>urlAutenticar</servlet-name>
        <servlet-class>com.far.mer.seg.urlAutenticar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfKardexPresupuestoLaboratorio</servlet-name>
        <servlet-class>com.far.mer.pla.pdf.PdfKardexPresupuestoLaboratorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelKardexPresupuestoLaboratorio</servlet-name>
        <servlet-class>com.far.mer.pla.Excel.ExcelKardexPresupuestoLaboratorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmFiltro</servlet-name>
        <servlet-class>com.far.mer.pla.frmFiltro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tblSeguimiento</servlet-name>
        <servlet-class>com.far.mer.pla.tblSeguimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tblSeguimientoCompras</servlet-name>
        <servlet-class>com.far.mer.pla.tblSeguimientoCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tblSeguimientoComprasGuardar</servlet-name>
        <servlet-class>com.far.mer.pla.tblSeguimientoComprasGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelPlanMercadeoGastos</servlet-name>
        <servlet-class>com.far.mer.pla.Excel.ExcelPlanMercadeoGastos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tblSeguimientoComprasVer</servlet-name>
        <servlet-class>com.far.mer.pla.tblSeguimientoComprasVer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfPresupuestoConsolidado</servlet-name>
        <servlet-class>com.far.mer.pla.pdf.PdfPresupuestoConsolidado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelPresupuestoConsolidado</servlet-name>
        <servlet-class>com.far.mer.pla.Excel.ExcelPresupuestoConsolidado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfPlanMercadeoDetallado</servlet-name>
        <servlet-class>com.far.mer.pla.pdf.PdfPlanMercadeoDetallado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelPlanMercadeoDetallado</servlet-name>
        <servlet-class>com.far.mer.pla.Excel.ExcelPlanMercadeoDetallado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfDistribucionGasto</servlet-name>
        <servlet-class>com.far.mer.pla.pdf.PdfDistribucionGasto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelDistribucionGasto</servlet-name>
        <servlet-class>com.far.mer.pla.Excel.ExcelDistribucionGasto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmPlanMercadeoCerrar</servlet-name>
        <servlet-class>com.far.mer.pla.frmPlanMercadeoCerrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmPlanMercdeoConfAuspicio</servlet-name>
        <servlet-class>com.far.mer.pla.frmPlanMercdeoConfAuspicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmPlanMercdeoConfAuspicioGuardar</servlet-name>
        <servlet-class>com.far.mer.pla.frmPlanMercdeoConfAuspicioGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tblLiquidacion</servlet-name>
        <servlet-class>com.far.mer.pla.tblLiquidacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tblLiquidacionCompras</servlet-name>
        <servlet-class>com.far.mer.pla.tblLiquidacionCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tblLiquidacionComprasFacturas</servlet-name>
        <servlet-class>com.far.mer.pla.tblLiquidacionComprasFacturas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tblLiquidacionComprasFacturasGuardar</servlet-name>
        <servlet-class>com.far.mer.pla.tblLiquidacionComprasFacturasGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmarGasto</servlet-name>
        <servlet-class>com.far.mer.pla.confirmarGasto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setIdPlanCuenta</servlet-name>
        <servlet-class>com.far.mer.pla.setIdPlanCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfPlanMercadeo</servlet-name>
        <servlet-class>com.far.mer.pla.pdf.PdfPlanMercadeo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPlanesMercadeoTiposCombo</servlet-name>
        <servlet-class>com.far.mer.pla.getPlanesMercadeoTiposCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPlanesMercadeoCombo</servlet-name>
        <servlet-class>com.far.mer.pla.getPlanesMercadeoCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProveedor</servlet-name>
        <servlet-class>com.far.mer.pla.getProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelPlanMercadeo</servlet-name>
        <servlet-class>com.far.mer.pla.Excel.ExcelPlanMercadeo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAuspicios</servlet-name>
        <servlet-class>com.far.mer.pla.getAuspicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frmPlanMercadeoAnular</servlet-name>
        <servlet-class>com.far.mer.pla.frmPlanMercadeoAnular</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelPlanMercadeoCumplimiento</servlet-name>
        <servlet-class>com.far.mer.pla.Excel.ExcelPlanMercadeoCumplimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfPlanMercadeoCumplimiento</servlet-name>
        <servlet-class>com.far.mer.pla.pdf.PdfPlanMercadeoCumplimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPlanesMercadeoOficinasCombo</servlet-name>
        <servlet-class>com.far.mer.pla.getPlanesMercadeoOficinasCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tblActividadesEjecucion</servlet-name>
        <servlet-class>com.far.mer.pla.tblActividadesEjecucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tblActividadesEjecucionConfirmar</servlet-name>
        <servlet-class>com.far.mer.pla.tblActividadesEjecucionConfirmar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autenticar</servlet-name>
        <url-pattern>/Autenticar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/Salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index1</servlet-name>
        <url-pattern>/index.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Creditos</servlet-name>
        <url-pattern>/Creditos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambiarClave</servlet-name>
        <url-pattern>/cambiarClave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambiarClaveGuardar</servlet-name>
        <url-pattern>/cambiarClaveGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTabla</servlet-name>
        <url-pattern>/getTabla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmTipoPlan</servlet-name>
        <url-pattern>/frmTipoPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCuentas</servlet-name>
        <url-pattern>/getCuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmTipoPlanGuardar</servlet-name>
        <url-pattern>/frmTipoPlanGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEmpleados</servlet-name>
        <url-pattern>/getEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmLaboratorioEstrategicoGuardar</servlet-name>
        <url-pattern>/frmLaboratorioEstrategicoGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmTipoPlanAsignacion</servlet-name>
        <url-pattern>/frmTipoPlanAsignacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPlanesMercadeo</servlet-name>
        <url-pattern>/getPlanesMercadeo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getActividades</servlet-name>
        <url-pattern>/getActividades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmPlanMercadeo</servlet-name>
        <url-pattern>/frmPlanMercadeo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUsuarios</servlet-name>
        <url-pattern>/getUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmTipoPlanAsignacionGuardar</servlet-name>
        <url-pattern>/frmTipoPlanAsignacionGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmPlanMercadeoGuardar</servlet-name>
        <url-pattern>/frmPlanMercadeoGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProveedores</servlet-name>
        <url-pattern>/getProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getFarmacia</servlet-name>
        <url-pattern>/getFarmacia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCmbCiudades</servlet-name>
        <url-pattern>/getCmbCiudades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTblFarmacias</servlet-name>
        <url-pattern>/getTblFarmacias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTblProductos</servlet-name>
        <url-pattern>/getTblProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSumaLaboratorios</servlet-name>
        <url-pattern>/getSumaLaboratorios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTipoPlanes</servlet-name>
        <url-pattern>/getTipoPlanes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filFarmacias</servlet-name>
        <url-pattern>/filFarmacias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filProductos</servlet-name>
        <url-pattern>/filProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCmbLineas</servlet-name>
        <url-pattern>/getCmbLineas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUsrConfAusp</servlet-name>
        <url-pattern>/getUsrConfAusp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getVendedores</servlet-name>
        <url-pattern>/getVendedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getClientes</servlet-name>
        <url-pattern>/getClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesaTransferirAdjunto</servlet-name>
        <url-pattern>/ProcesaTransferirAdjunto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLaboratoriosAuspicio</servlet-name>
        <url-pattern>/getLaboratoriosAuspicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmEstrategia</servlet-name>
        <url-pattern>/frmEstrategia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmEstrategiaGuardar</servlet-name>
        <url-pattern>/frmEstrategiaGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmActividad</servlet-name>
        <url-pattern>/frmActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesaTransferirFormularioAdjunto</servlet-name>
        <url-pattern>/ProcesaTransferirFormularioAdjunto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmActividadGuardar</servlet-name>
        <url-pattern>/frmActividadGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmLaboratorioEstrategico</servlet-name>
        <url-pattern>/frmLaboratorioEstrategico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmActividadEliminar</servlet-name>
        <url-pattern>/frmActividadEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmEstrategiaEliminar</servlet-name>
        <url-pattern>/frmEstrategiaEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEstrategias</servlet-name>
        <url-pattern>/getEstrategias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verActividad</servlet-name>
        <url-pattern>/verActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verPlanMercadeo</servlet-name>
        <url-pattern>/verPlanMercadeo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verEstrategia</servlet-name>
        <url-pattern>/verEstrategia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmPlanMercadeoAprobar</servlet-name>
        <url-pattern>/frmPlanMercadeoAprobar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPlanesMercadeoEditar</servlet-name>
        <url-pattern>/getPlanesMercadeoEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getActividadesEditar</servlet-name>
        <url-pattern>/getActividadesEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmPlanCuentas</servlet-name>
        <url-pattern>/frmPlanCuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmNivel</servlet-name>
        <url-pattern>/frmNivel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmConfiguracion</servlet-name>
        <url-pattern>/frmConfiguracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmConfiguracionGuardar</servlet-name>
        <url-pattern>/frmConfiguracionGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmLaboratorioPresupuesto</servlet-name>
        <url-pattern>/frmLaboratorioPresupuesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmLaboratorioPresupuestoGuardar</servlet-name>
        <url-pattern>/frmLaboratorioPresupuestoGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getVentas</servlet-name>
        <url-pattern>/getVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmActividadAprobar</servlet-name>
        <url-pattern>/frmActividadAprobar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmPlanMercadeoEnviarAAut</servlet-name>
        <url-pattern>/frmPlanMercadeoEnviarAAut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmLaboratorioEstrategicoReasignacionGuardar</servlet-name>
        <url-pattern>/frmLaboratorioEstrategicoReasignacionGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmConcepto</servlet-name>
        <url-pattern>/frmConcepto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmConceptoGuardar</servlet-name>
        <url-pattern>/frmConceptoGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>urlAutenticar</servlet-name>
        <url-pattern>/urlAutenticar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfKardexPresupuestoLaboratorio</servlet-name>
        <url-pattern>/PdfKardexPresupuestoLaboratorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelKardexPresupuestoLaboratorio</servlet-name>
        <url-pattern>/ExcelKardexPresupuestoLaboratorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmFiltro</servlet-name>
        <url-pattern>/frmFiltro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tblSeguimiento</servlet-name>
        <url-pattern>/tblSeguimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tblSeguimientoCompras</servlet-name>
        <url-pattern>/tblSeguimientoCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tblSeguimientoComprasGuardar</servlet-name>
        <url-pattern>/tblSeguimientoComprasGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelPlanMercadeoGastos</servlet-name>
        <url-pattern>/ExcelPlanMercadeoGastos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tblSeguimientoComprasVer</servlet-name>
        <url-pattern>/tblSeguimientoComprasVer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfPresupuestoConsolidado</servlet-name>
        <url-pattern>/PdfPresupuestoConsolidado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelPresupuestoConsolidado</servlet-name>
        <url-pattern>/ExcelPresupuestoConsolidado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfPlanMercadeoDetallado</servlet-name>
        <url-pattern>/PdfPlanMercadeoDetallado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelPlanMercadeoDetallado</servlet-name>
        <url-pattern>/ExcelPlanMercadeoDetallado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfDistribucionGasto</servlet-name>
        <url-pattern>/PdfDistribucionGasto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelDistribucionGasto</servlet-name>
        <url-pattern>/ExcelDistribucionGasto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmPlanMercadeoCerrar</servlet-name>
        <url-pattern>/frmPlanMercadeoCerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmPlanMercdeoConfAuspicio</servlet-name>
        <url-pattern>/frmPlanMercdeoConfAuspicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmPlanMercdeoConfAuspicioGuardar</servlet-name>
        <url-pattern>/frmPlanMercdeoConfAuspicioGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tblLiquidacion</servlet-name>
        <url-pattern>/tblLiquidacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tblLiquidacionCompras</servlet-name>
        <url-pattern>/tblLiquidacionCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tblLiquidacionComprasFacturas</servlet-name>
        <url-pattern>/tblLiquidacionComprasFacturas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tblLiquidacionComprasFacturasGuardar</servlet-name>
        <url-pattern>/tblLiquidacionComprasFacturasGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmarGasto</servlet-name>
        <url-pattern>/confirmarGasto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setIdPlanCuenta</servlet-name>
        <url-pattern>/setIdPlanCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfPlanMercadeo</servlet-name>
        <url-pattern>/PdfPlanMercadeo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPlanesMercadeoTiposCombo</servlet-name>
        <url-pattern>/getPlanesMercadeoTiposCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPlanesMercadeoCombo</servlet-name>
        <url-pattern>/getPlanesMercadeoCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProveedor</servlet-name>
        <url-pattern>/getProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelPlanMercadeo</servlet-name>
        <url-pattern>/ExcelPlanMercadeo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAuspicios</servlet-name>
        <url-pattern>/getAuspicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frmPlanMercadeoAnular</servlet-name>
        <url-pattern>/frmPlanMercadeoAnular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelPlanMercadeoCumplimiento</servlet-name>
        <url-pattern>/ExcelPlanMercadeoCumplimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfPlanMercadeoCumplimiento</servlet-name>
        <url-pattern>/PdfPlanMercadeoCumplimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPlanesMercadeoOficinasCombo</servlet-name>
        <url-pattern>/getPlanesMercadeoOficinasCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tblActividadesEjecucion</servlet-name>
        <url-pattern>/tblActividadesEjecucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tblActividadesEjecucionConfirmar</servlet-name>
        <url-pattern>/tblActividadesEjecucionConfirmar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
